{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
{% block modal %}
{% load static %}
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enter your Question</h4>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary" type="submit">Submit</button>

                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>

    </div>
</div>
{% endblock %}
<div class="question-list">
        {% for message in messages %}

        <div class="alert">
          {{ message }}
  
        </div>
        {% endfor %}
    <div class="add-question">
        <div> <span> <img class="user" src="{% static 'images/user.png'%}">
                {{request.user}}</span></div><br>
        <a data-toggle="modal" data-target="#myModal"><strong>What is your question link?</strong></a>


    </div>

    {% for question in questions %}


    <div class="each-question">
        <div class="question-tags">Question added. Technology</div><br>
        <a class="question-link" href="{% url 'qa:question_detail' question.id %}">{{ question.title }}</a><br><br>
        <div class="answer-pen" id="{{ question.id }}"><i class="fas fa-edit"></i>Answer</div>
        <div class="add-answer" id="add-answer{{ question.id }}">
            <div class="answer-header"> <span><i class="fa fa-user"></i>
                    {{request.user}}</span></div>
            <form method="POST">
                {% csrf_token %}

                {{ answer|crispy }}
                <button class="btn btn-primary" type="submit">Submit</button>

            </form>


        </div>
        <script>
            $(document).ready(function () {
                $("#{{ question.id }}").click(function () {
                    $("#add-answer{{ question.id }}").toggle()
                    $("#id_question_id").val("{{ question.id }}")
                })
            })
        </script>


    </div>

    {% endfor %}





    {% endblock %}

</div>