{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block modal %}
{%load static %}
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enter your Question</h4>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block content %}
<div class="question-detail">
    <div>{{ selected_question }}</div>
    <div class="answer-pen" id="{{ selected_question.id }}"><i class="fas fa-edit"></i>Answer</div>
    <div class="add-answer" id="add-answer{{ selected_question.id }}">
        <div class="answer-header"> <span><img class="user" src="{% static 'images/user.png'%}">
                {{request.user}}</span></div>
        <form method="POST">
            {% csrf_token %}
            {{ answer_form|crispy }}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
    <script>
        $(document).ready(function () {
            $("#{{ selected_question.id }}").click(function () {
                $("#add-answer{{ selected_question.id }}").toggle()
                $("#id_question_id").val("{{ selected_question.id }}")

            })
        })
    </script>
    <div class="answers-count">{{ selected_question.no_of_answers }} Answers</div>
    <hr>
</div>

<div class="answers">
    {% for answer in answers %}
    <div class="answer">
        <div class="username"> <span><img class="user" src="{% static 'images/user.png'%}">
                {{answer.user.username}}</span></div><br>
        <div class="answer-content">{{answer.answer_content}}</div><br>
        <div class="comment-container">
            {% for com in answer.list_of_comments %}
            <div class="individual-comment">
                <span> {{ com.user.username }} : {{ com.comment_content }} </span>
            </div>
            {% endfor %}
        </div>
        <div class="comment">
            <form  method="POST" action="{% url 'qa:comment' answer.pk %}">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <button class="btn btn-default" type="submit">comment</button>
                <div id="dummy-identifier"></div>
            </form>
            
        </div>
        <hr>
    </div>
    {% endfor %}
</div>
{% endblock %}