{% extends 'base.html' %}
{%load static%}
{% block content %}
{% load crispy_forms_tags %}
{% block modal %}
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enter your Question</h4>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary" type="submit">Submit</button>

                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>

    </div>
</div>
{% endblock %}
<div class="question-list">
    <div class="add-question">
        <div> <span><img class="user" src="{% static 'images/user.png'%}">
                {{request.user}}</span></div><br>
        <a data-toggle="modal" data-target="#myModal"><strong>What is your question link?</strong></a>


    </div>
    {% for question in status %}


    <div class="each-question">
        <div class="question-tags">Question added. Technology</div><br>
        <a class="question-link" href="{% url 'qa:question_detail' question.id %}">{{ question.title }}</a><br><br>

        <div class="answer-count">{{ question.no_of_answers }} Answers</div><br>

        <div class="username"> <span><img class="user" src="{% static 'images/user.png'%}">
                {{ question.first_answer.user.username }}</span></div><br>
        <div class="answer-content">{{ question.first_answer.answer_content }}</div>


    </div>

    {% endfor %}



    {% endblock %}
</div>