body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}
nav {
  display: flex !important;
  width: 100%;
  justify-content: center;
}
nav a {
  color: grey;
}
nav a:hover {
  color: red;
}
.menu {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search {
  padding-right: 20px;
}
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
}
.user {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
.question-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fafafa;
  height: 100vh;
  font-size: 13px;
}
.each-question {
  font-family: "q_serif", Georgia, Times, "Times New Roman",
    "Hiragino Kaku Gothic Pro", "Meiryo", serif;
  font-weight: bold;
  line-height: 1.3;
  color: #333;
  font-size: 18px !important;
  padding: 16px;
  width: 70%;
  background: white !important;
  border: 1px solid #e2e2e2;
  margin: 2px;
}
.add-question {
  font-family: "q_serif", Georgia, Times, "Times New Roman",
    "Hiragino Kaku Gothic Pro", "Meiryo", serif;

  line-height: 1.3;
  font-size: 18px !important;
  padding: 16px;
  width: 70%;
  background: white !important;
  border: 1px solid #e2e2e2;
  margin: 2px;
  color: grey;
  font-size: 14px;
}

.question-link {
  color: black;
}
.question-link:hover {
  color: black;
}
.question-tags {
  color: #949494;
  font-size: 13px !important;
  font-weight: normal;
}
.add-answer {
  display: none;
}
.answer-header {
  padding: 3px;
  background: #fafafa;
  font-weight: normal;
  border: 1px solid #e2e2e2;
  color:#949494;
}
.answer-pen {
  font-weight: normal;
  font-size: 13px;
  color: #949494;
  cursor: pointer;
}
.answer-pen:hover {
  color: rgb(66, 65, 65);
}
.question-detail {
  font-family: "q_serif", Georgia, Times, "Times New Roman",
    "Hiragino Kaku Gothic Pro", "Meiryo", serif !important;
  font-weight: bold;
  font-size: 23px !important;
  margin: 30px 30px 0 30px;
}
.answer {
  color: #333;
  font-size: 18px !important;
  padding: 16px;
  width: 70%;
  background: white !important;
  margin: 30px 30px 0 30px;
}
.username {
  padding: 3px;
  font-weight: normal;
  font-size: 16px;
}
.answer-content {
  padding-left: 20px;
  font-size:16px;
  font-weight: normal;
}
.answers-count{
    font-weight: normal !important;
    font-size:18px; 
    color:#333;
}
.comment-container{
  font-size:13px;
  border: 1px solid #e2e2e2;
  padding:9px;
}
.alert{
  color:red;
}