{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <script src='main.js'></script>
</head>

<body>
    <nav>
        <div class="menu">
            <img src="{% static 'images/quora.jpg'%}" width="100px" height="70px">
            <a href="{% url 'qa:home' %}"><i class="fas fa-home"></i>Home</a>
            <a href="{% url 'qa:add_answer' %}"><i class="fas fa-edit"></i>Answer</a>
            <div class="search-container">
                <i class="fas fa-search search"> </i>
                <form method="POST" action="{% url 'qa:search' %}">
                    {% csrf_token %}
                    <input class="form-control form-control-sm" type="text" name="search" placeholder="Search quora">
                    <input type="submit" style="position: absolute; left: -9999px" />
                </form>
            </div>
            <img class="user" src="{% static 'images/user.png'%}">
            {% if request.user.username %}
            <span>{{request.user.username}}</span>
            {% else %}
            <span><a href="http://localhost:8000/admin/">login</a></span>
            {%endif %}
            <a class="btn btn-danger" style="color:white" data-toggle="modal" data-target="#myModal" role="button">Add
                Question</a>
        </div>
    </nav>

    <!-- Modal -->
    {% block modal %}
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>You're not logged in.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {% endblock %}
    {% block content %}
    {% endblock %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
</body>

</html>